name = "blog-devpad-api"
main = "packages/server/src/index.ts"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

# Production environment (default)
[vars]
ENVIRONMENT = "production"
DEVPAD_API = "https://devpad.tools"

[[d1_databases]]
binding = "DB"
database_name = "blog-devpad-db"
database_id = "bfb27257-dc51-46b1-a532-bf4fde3aa117"

[[r2_buckets]]
binding = "CORPUS_BUCKET"
bucket_name = "blog-devpad-corpus"

# Preview environment
[env.preview]
name = "blog-devpad-api-preview"

[env.preview.vars]
ENVIRONMENT = "preview"
DEVPAD_API = "https://devpad.tools"

[[env.preview.d1_databases]]
binding = "DB"
database_name = "blog-devpad-db-preview"
database_id = "c6fe56a9-3c1c-4438-86fe-a2d0cf9fdd41"

[[env.preview.r2_buckets]]
binding = "CORPUS_BUCKET"
bucket_name = "blog-devpad-corpus-preview"

[dev]
port = 8787
local_protocol = "http"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1

[env.preview.observability]
enabled = false
head_sampling_rate = 1

[env.preview.observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[env.preview.observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
