---
import PostEditor from "@/components/post/post-editor";
import AppLayout from "@/layouts/app-layout.astro";
---

<AppLayout title="New Post">
	<section class="flex-col">
		<header>
			<h1 class="page-title flex-row">
				<a href="/posts" title="Back to posts" class="back-arrow">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
				</a>
				New Post
			</h1>
		</header>

		<div id="editor-container">
			<PostEditor client:load categories={[]} />
		</div>
	</section>
</AppLayout>

<style>
	.back-arrow {
		display: flex;
		align-items: center;
		color: var(--text-muted);
	}
	.back-arrow:hover {
		color: var(--text-link);
	}
</style>


