---
import CategoriesPage from "@/components/category/categories-page";
import AppLayout from "@/layouts/app-layout.astro";
---

<AppLayout title="Categories">
	<section class="flex-col">
		<header>
			<h1 class="page-title">Categories</h1>
		</header>
		<CategoriesPage client:load />
	</section>
</AppLayout>
